<div class="book">
    <div class="card-group">
        <div class="card">
            <img [src]="book.volumeInfo?.imageLinks?.smallThumbnail" class="card-img-top">

            <div class="card-body">
                <h5 class="card-title">{{ book.volumeInfo.title }}
                </h5>
                <h5 class="card-title">{{ book.volumeInfo.subtitle }}</h5>
                <h5 class="card-title">{{ book.volumeInfo.publishedDate }}</h5>
            </div>

            <div class="footer">
                <button type="button" class="btn-details" (click)="openDialogBook()">More Details</button>
            </div>
        </div>
    </div>
</div>