::ng-deep {
    .home-page {
        text-align: center;
        margin-top: 115px;

        > div {
            display: inline-block;
            border: 1px solid #CFD8DC;
            padding: 20px;
            text-align: center;

            .form-field {
                display: block;
            }
            .btn-next {
                padding: 8px 15px;
                color: white;
                cursor: pointer;
                font-size: 14px;
                border: transparent;
                letter-spacing: 1.25px;
                background-color: #0079FD;
                box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.39);
                border-radius: 2.6px;

                &:disabled {
                    opacity: 0.5;
                    cursor: auto;
                  }
            }
        }
    }
}