<div class="book-details">
  <div>
    <div class="title">
      <h1 mat-dialog-title>{{ book.volumeInfo.title }}</h1>
    </div>
    <div class="content" mat-dialog-content>
      <p>{{ book.volumeInfo.subtitle }}</p>
      <p>{{ book.volumeInfo.publishedDate }}</p>
      <p>{{ book.volumeInfo.authors }}</p>
      <p>{{ book.volumeInfo.publisher }}</p>
    </div>
    <div class="footer" mat-dialog-actions>
      <button mat-button class="btn btn-close" (click)="onNoClick()">Close</button>
      <button mat-button class="btn btn-save" (click)="saveBook()">Save</button>
        <button mat-button class="btn btn-delete" (click)="deleteBook()">Delete</button>
    </div>
  </div>
</div>